/.metadata/
/bin/
Simuletta/.metadata/.log
Simuletta/.metadata/.log
Simuletta/.metadata/.plugins/org.eclipse.core.resources/.projects/SimulettaFEC/.indexes/e4/ee/history.index
/Simuletta/.metadata
*.index
